body {
    font-family: sans-serif;
}

#projects article {
    background: navy;
    margin: 40px;
}

nav {
    background: navy;
}

.wayfinder {
    background: green;
}

#menu {
    background: green;
}