:root {
    --primary-bg: #E6E8E6;
    --primary-text: #3F403F;
    --secondary-bg: #CED0CE;
    --primary-theme: #9FB8AD;
    --secondary-theme: #475841;
    --standard-gap: 40px;
}

header {
    text-align: center;
    padding: 1rem 0;
    margin: 0 var(--standard-gap);
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: var(--secondary-theme);
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--primary-theme);
    border-radius: 50px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.5em;
}

nav ul li a:hover {
    background: var(--secondary-theme);
    color: var(--primary-bg);
}

#intro {
    text-align: center;
    margin: var(--standard-gap);
    font-family: garamond, serif;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

.h2 {
    font-family: garamond, serif;
    font-size: 2em;
    border-bottom: 1px solid var(--secondary-theme);
}

body {
    font-family: georgia, serif;
    background: var(--primary-bg);
    color: var(--primary-text);
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
}



#projects article {
    margin: var(--standard-gap);
}

